<div class="main posts-show">
  <div class="container">

        <%= form_tag("/posts/#{@post.id}/update") do %>
          <div class="form">
            <div class="form-body">
              <% @post.errors.full_messages.each do |message| %>
                <div class="form-error">
                  <%= message %>
                </div>
              <% end %>
              <select name="content">
                  <option value="11:00">16:00</option>
                  <option value="16:00">17:00</option>
                  <option value="16:30">18:00</option>
                  <option value="17:00">16:00</option>
                  <option value="17:30">17:00</option>
                  <option value="18:00">18:00</option>
                  <option value="18:30">16:00</option>
                  <option value="19:00">17:00</option>
                  <option value="19:30">18:00</option>
                  <option value="X">"X"</option>
              </select>
              <input type="submit" value="保存">
              <div class="post-menus">
               <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
              </div>
            </div>
          </div>
        <% end %>
      
      </div>
  </div>
</div>